{% block content %}
<div class="formwrapper">
    <form method="POST">
        <div class="city">
            {{ form.city(placeholder='city') }} {{ form.name.label }}
        </div>
        <div class="submitbutton">
            <input id="submit" type="submit" value="Submit">
        </div>
    </form>
</div>