{% extends "bootstrap/base.html" %}
{% block title %}Awesome Recommender{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Recommender</h1>
  <div>
    <a href="{{ url_for('recommend.recommendInput')}}">recommend</a>
    <a href="{{ url_for('usercity.getRatings') }}">list of visits</a>
    </div>
{% endblock %}