{% extends "bootstrap/base.html" %}
{% block title %}Awesome Recommender{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recommend.css') }}">

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='js/general.js') }}"></script>

{% endblock %}

{% block content %}
<h1 class="display-4">Travel destinations recommendations</h1>
{% if not results %}
<p>Enter cities that you've been to and liked</p>
<form action="/recommend/results" method="POST" autocomplete="off">
    <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10'>
        <div class='input-group' , id='first'>
            <input class="autocomplete" class='form-control' type='text' name='city_name' placeholder="Enter a city"/>
        </div>
        <button type="submit" id="submit" value="submit" class="btn btn-light">Get recommendations</button>

    </div>
</form>
{% endif %}

{% if results %}
<p>Input: {{cities}}</p>
<div class="info">
    <iframe class="info_inside"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3309.3312622412445!2d-83.37737678492407!3d33.958324180631536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f66cdecc8d0783%3A0x4f152e9d93fa5d6!2s170+College+Ave%2C+Athens%2C+GA+30601%2C+USA!5e0!3m2!1sen!2sie!4v1464026910465"
             frameborder="0" style="border:0">
    </iframe>
</div>
{% for key, value in results.items() %}
<div class="col-xs-6">
    <h2 class="sub-header">{{key}}</h2>
    <div class="table-responsive"></div>
    <table class="table table-striped">
        <thead>
        <th>City</th>
        <th>Because you liked</th>
        </thead>
        {% for val in value %}
        <tr>
            <td><a href="https://www.google.com/search?q={{ val[0] }}" target="_blank" onmouseover="showInfo('{{val[0]}}')">{{val[0]}}</a></td>
            <td>{{val[2]}}</td>
            <td>
                <button type="button" onclick="sendLike(this, '{{key}}')">+1</button>
                <button type="button" onclick="sendDislike(this, '{{key}}')">-1</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endfor %}


{% endif %}
{% endblock %}