{% extends 'base.html' %}

{% block head%}
<title>Recommneder</title>
{% endblock %}

{% block body%}
{% if destinations|length < 1 %}
<p>There are no Destinations</p>
{% else %}
<div>
    <table>
        <tr>
            <th>id</th>
            <th>user</th>
            <th>city</th>
            <th>number of visits</th>
        </tr>
        {% for i in range(destinations|length) %}
            <tr>
                <td>{{destinations[i].id}}</td>
                <td>{{destinations[i].user}}</td>
                <td>{{destinations[i].city}}</td>
                <td>{{destinations[i].number_of_visits}}</td>
                
            </tr>
        {% endfor %}

    </table>
</div>
{% endif %}
<form action="/ratings" method="GET">
    <input type="text" name="content" id="content">
    <input type="submit" value="Inser destination">
</form>

{% endblock %}